<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partial/head.ejs')%>
</head>
<body>
    <%-include('../partial/nav.ejs')%> 
    <!-- when we are use any file then use '-'
    and for displaying use '=' -->
    <h1>I am from Index file</h1>
    <a href="/download">Download</a>
    
</body>
</html>